In [1]:
import pickle
import pandas as pd
import numpy as np

post_info = pickle.load( open( "save.p", "rb" ) )

In [2]:
post_info

,display_url,caption,comments,likes,labels
0,https://instagram.fftw1-1.fna.fbcdn.net/vp/801...,Photo by Erika Larsen @erikalarsen888 | Roxane...,360,47452,"[Clothing, Dress shirt, Sleeve, Shirt, Formal ..."
1,https://instagram.fftw1-1.fna.fbcdn.net/vp/8c4...,Photo by David Guttenfelder @dguttenfelder // ...,336,85229,"[Bicycle, Pink, Bicycle wheel, Vehicle, Cyclin..."
2,https://instagram.fftw1-1.fna.fbcdn.net/vp/764...,Photo by George Steinmetz @geosteinmetz | A ca...,758,292916,"[Yellow, Sky, Sand, Dune, Landscape, Heat, Aeo..."
3,https://instagram.fftw1-1.fna.fbcdn.net/vp/527...,Photo by Maggie Steber @maggiesteber | Veteran...,254,98153,"[Design, Room, Photography, Material property,..."
4,https://instagram.fftw1-1.fna.fbcdn.net/vp/a33...,Photo by Anastasia Taylor-Lind @anastasiatl | ...,646,132572,"[Room, Photography, Sitting]"
...,...,...,...,...,...
942,https://instagram.fftw1-1.fna.fbcdn.net/vp/966...,Photo by Brian Skerry @brianskerry | A threshe...,5255,531996,"[Fish, Shark, Blue, Water, Great white shark, ..."
943,https://instagram.fftw1-1.fna.fbcdn.net/vp/24b...,Photo by Stephen Wilkes @stephenwilkes | It is...,3792,826978,"[Elephant, Elephants and Mammoths, Mammal, Ter..."
944,https://instagram.fftw1-1.fna.fbcdn.net/vp/8a1...,Photo by Michael Yamashita @yamashitaphoto | O...,2070,754997,"[Nature, Natural landscape, Reflection, Wilder..."
945,https://instagram.fftw1-1.fna.fbcdn.net/vp/96f...,"Photo by Joel Sartore @joelsartore | Hurry, be...",1292,448321,"[Sky, Blue, Tree, Nature, Night, Branch, Woody..."
946,https://instagram.fftw1-1.fna.fbcdn.net/vp/1b1...,Photo by Beverly Joubert @beverlyjoubert | Gat...,1057,396629,[Insect]

## Engagement Score

In [3]:
post_info['likes_normalized'] = post_info['likes']/post_info['likes'].max()

In [4]:
post_info['comments_normalized'] = post_info['comments']/post_info['comments'].max()

In [5]:
post_info['engagement_score'] = .4*post_info['likes_normalized']+.6*post_info['comments_normalized']

In [6]:
engagement_median = post_info['engagement_score'].median()

def binary_engage(score):
    if score > engagement_median:
        return 1
    else:
        return 0

In [7]:
post_info['engagement_binary'] = post_info['engagement_score'].map(binary_engage)

In [8]:
post_info.engagement_binary.value_counts()

0    474
1    473
Name: engagement_binary, dtype: int64

## Logistic Regression (Labels only)

In [9]:
regression = post_info[['labels', 'engagement_binary']]

In [10]:
labels = list(set(post_info['labels'].sum()))

In [11]:
for label in labels:
    regression[label] = regression['labels'].apply(lambda x: 1 if label in x else 0 )

c:\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
regression

,labels,engagement_binary,Painted Bunting,Landmark,African leopard,Carnivore,Gopher Tortoise,Portrait,Skateboarding Equipment,Snares penguin,...,Bicycle wheel,Reptile,Automotive window part,Hardwood,Skerry,Starfish,Vulture,Flowering plant,Pointing breed,Text
0,"[Clothing, Dress shirt, Sleeve, Shirt, Formal ...",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,"[Bicycle, Pink, Bicycle wheel, Vehicle, Cyclin...",0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,"[Yellow, Sky, Sand, Dune, Landscape, Heat, Aeo...",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,"[Design, Room, Photography, Material property,...",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,"[Room, Photography, Sitting]",0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
942,"[Fish, Shark, Blue, Water, Great white shark, ...",1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
943,"[Elephant, Elephants and Mammoths, Mammal, Ter...",1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
944,"[Nature, Natural landscape, Reflection, Wilder...",1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
945,"[Sky, Blue, Tree, Nature, Night, Branch, Woody...",1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
946,[Insect],1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
X = regression.drop(['labels', 'engagement_binary'], axis = 1)
y = regression[['engagement_binary']]

In [14]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)

In [15]:
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression()
log_reg.fit(x_train, y_train)

c:\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\python37\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [16]:
log_reg.score(x_test, y_test)

0.7257383966244726

In [17]:
from sklearn import metrics

predictions = log_reg.predict(x_test)

metrics.confusion_matrix(y_test, predictions)

array([[93, 33],
       [32, 79]], dtype=int64)

In [18]:
predictions

array([1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0], dtype=int64)

In [19]:
confusion = pd.DataFrame(zip(y_test.engagement_binary, predictions), columns=['actual', 'predicted'])
pd.crosstab(confusion.actual, confusion.predicted)

predicted   0   1
actual
0          93  33
1          32  79

## TF-IDF on Captions

In [20]:
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer

In [21]:
from nltk import word_tokenize
from nltk.stem import WordNetLemmatizer
import nltk

nltk.download('wordnet')

class LemmaTokenizer(object):
    def __init__(self):
        self.wnl = WordNetLemmatizer()
    def __call__(self, doc):
        return [self.wnl.lemmatize(t) for t in word_tokenize(doc)]

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\cgn31\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [22]:
cv=CountVectorizer(tokenizer=LemmaTokenizer(), ngram_range=(1,2), stop_words='english', max_features=1250)

word_count_vector=cv.fit_transform(post_info.caption.values)

tfidf_transformer=TfidfTransformer(smooth_idf=True,use_idf=True)
tfidf_transformer.fit(word_count_vector)

# tf-idf scores
tf_idf_vector=tfidf_transformer.transform(word_count_vector)

c:\python37\lib\site-packages\sklearn\feature_extraction\text.py:300: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['ha', 'le', 'u', 'wa'] not in stop_words.
  'stop_words.' % sorted(inconsistent))

In [23]:
tf_idf_vector

<947x1250 sparse matrix of type '<class 'numpy.float64'>'
	with 41392 stored elements in Compressed Sparse Row format>

In [24]:
import scipy
from scipy import sparse

In [25]:
X = tf_idf_vector

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)
log_reg = LogisticRegression()
log_reg.fit(x_train, y_train)

log_reg.score(x_test, y_test)

c:\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\python37\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.7805907172995781

In [26]:
predictions = log_reg.predict(x_test)

confusion = pd.DataFrame(zip(y_test.engagement_binary, predictions), columns=['actual', 'predicted'])
pd.crosstab(confusion.actual, confusion.predicted)

predicted   0   1
actual
0          95  31
1          21  90

## Using Both Cpations and Image Labels

In [27]:
tf_idf_vector

<947x1250 sparse matrix of type '<class 'numpy.float64'>'
	with 41392 stored elements in Compressed Sparse Row format>

In [31]:
label_count = regression.drop(['labels', 'engagement_binary'], axis = 1)

In [32]:
sparse.csr_matrix(label_count)

<947x1281 sparse matrix of type '<class 'numpy.int64'>'
	with 8493 stored elements in Compressed Sparse Row format>

In [37]:
from scipy import sparse

combined = sparse.hstack([tf_idf_vector, sparse.csr_matrix(label_count)])

In [38]:
X = combined

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)
log_reg = LogisticRegression()
log_reg.fit(x_train, y_train)

log_reg.score(x_test, y_test)

c:\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\python37\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.7637130801687764

In [39]:
predictions = log_reg.predict(x_test)

confusion = pd.DataFrame(zip(y_test.engagement_binary, predictions), columns=['actual', 'predicted'])
pd.crosstab(confusion.actual, confusion.predicted)

predicted   0   1
actual
0          98  28
1          28  83

## Topic Modeling

In [29]:
from sklearn.decomposition import LatentDirichletAllocation as LDA

In [53]:
# Create and fit the LDA model
cv=CountVectorizer()
word_count_vector=cv.fit_transform(post_info.labels.map(lambda x: ' '.join(x)))

lda = LDA(n_components=5, n_jobs=-1, random_state=0)
lda.fit(word_count_vector)

LatentDirichletAllocation(batch_size=128, doc_topic_prior=None,
                          evaluate_every=-1, learning_decay=0.7,
                          learning_method='batch', learning_offset=10.0,
                          max_doc_update_iter=100, max_iter=10,
                          mean_change_tol=0.001, n_components=5, n_jobs=-1,
                          perp_tol=0.1, random_state=0, topic_word_prior=None,
                          total_samples=1000000.0, verbose=0)

In [56]:
def print_topics(model, count_vectorizer, n_top_words):
    words = count_vectorizer.get_feature_names()
    for topic_idx, topic in enumerate(model.components_):
        print("\nTopic #%d:" % (topic_idx+1))
        print(" ".join([words[i]
                        for i in topic.argsort()[:-n_top_words - 1:-1]]))

In [57]:
print_topics(lda, cv, 10)

Topic #1:
marine water fish underwater biology shark ice sea ocean organism

Topic #2:
photography plant tree and sky elephant bird white black military

Topic #3:
wildlife animal terrestrial vertebrate mammal natural nature environment snout grassland

Topic #4:
turtle photography sea fun people adaptation event human child smile

Topic #5:
sky landscape cloud phenomenon water mountain natural atmospheric landforms vehicle